.tz-icon-list {
	display: flex;
	flex-wrap: wrap;

	.tz-icon-list__item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 24px;
		height: auto;
		background: transparent;
		border: 1px solid transparent;
		border-radius: 2px;
		color: #1e1e1e;
		cursor: pointer;
		transition: all .05s ease-in-out;
		word-break: break-word;

		&:hover {
			border-color: var(--wp-admin-theme-color);
			color: var(--wp-admin-theme-color) !important;
		}

		.tz-icon-list__item-icon {
			svg {
				width: inherit;
				height: inherit;
				fill: currentColor;
			}
		}

		&.is-active {
			background-color: var(--wp-admin-theme-color);
			color: #fff;

			&:hover {
				color: #fff !important;
			}
		}
	}

	&.show-icon-names {
		.tz-icon-list__item {
			flex-direction: column;
			width: 150px;

			.tz-icon-list__item-name {
				margin-top: 12px;
				font-size: 12px;
			}
		}
	}
}
