/* Adjust Rotate Icon */
.block-editor-block-toolbar {
	.themezee-icon-block__rotate-button-90 svg {
		transform: rotate(90deg);
	}

	.themezee-icon-block__rotate-button-180 svg {
		transform: rotate(180deg);
	}

	.themezee-icon-block__rotate-button-270 svg {
		transform: rotate(270deg);
	}
}

/* Block width control */
.block-editor-block-inspector {
	.components-block-width-control__wrapper {
		grid-column: 1 / -1;

		.components-unit-control-wrapper {
			margin-bottom: 16px;
		}
	}
}

/* Icon Placeholder */
.components-placeholder.wp-block-themezee-icon-placeholder {
	min-height: auto;
}
