.wp-block-themezee-icon-block__icon_modal {
	.components-modal__content {
		flex: 1 1 0%;
		overflow: auto;
		padding: 0px;

		&:before {
			margin-bottom: 0;
		}
	}

	.tz-icon-modal {
		align-items: stretch;
		display: flex;
		height: 100%;
	}

	.tz-icon-modal__sidebar {
		display: none;
		flex-direction: column;
		flex-shrink: 0;
		overflow-y: scroll;
		width: 280px;
		border-right: 1px solid rgb(221, 221, 221);
		padding: 24px;

		@media ( min-width: 900px ) {
			display: flex;
		}

		&__search {
			margin-bottom: 16px;

			.components-base-control__field {
				margin-bottom: 0;
			}
		}

		&__library,
		&__preferences,
		&__icon-libraries {
			// Override core component styles.
			border: none;

			.components-menu-group__label {
				margin: 0;
				padding: 16px 0;
			}

			.components-menu-item__item {
				text-transform: capitalize;
				display: inline-flex;
				justify-content: space-between;
				width: 100%;

				&>span {
					opacity: 0.5;
				}
			}
		}
	}

	.tz-icon-modal__content {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		overflow: auto;
		padding: 16px 16px 32px;
		width: 100%;

		@media ( min-width: 900px ) {
			width: calc(100% - 281px);
		}

		.search-results {
			margin-bottom: 16px;
		}
	}
}
