/* Adjust Rotate Icon */
.block-editor-block-toolbar {
	.themezee-icon-block__rotate-button-90 svg {
		transform: rotate(90deg);
	}

	.themezee-icon-block__rotate-button-180 svg {
		transform: rotate(180deg);
	}

	.themezee-icon-block__rotate-button-270 svg {
		transform: rotate(270deg);
	}
}

/* Block width control */
.block-editor-block-inspector {
	.components-block-width-control__wrapper {
		grid-column: 1 / -1;

		.components-unit-control-wrapper {
			margin-bottom: 16px;
		}
	}
}

/* Icon Placeholder */
.components-placeholder.wp-block-themezee-icon-placeholder {
	min-height: auto;

	svg.components-placeholder__illustration {
		position: absolute;
		max-width: 90px;
		fill: none;
		stroke-width: 0.5;
	}
}

.wp-block-themezee-icon.is-selected {
	.components-placeholder.wp-block-themezee-icon-placeholder {
		background-color: #fff;
		border: none;
		border-radius: 2px;
		box-shadow: inset 0 0 0 1px #1e1e1e;
		color: #1e1e1e;
		filter: none;

		&:before {
			opacity: 0;
		}

		.components-placeholder__illustration {
			display: none;
		}
	}
}
